@page "/counter"
@using Orleans
@using Jarvis.Store.Client.Grains

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<h1>Counter</h1>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<RadzenButton Click="@IncrementCount" Text="CLICK"></RadzenButton>
@code {

    [Inject]
    public IClusterClient ClusterClient { get; set; }

    private int currentCount = 0;

    private async Task IncrementCount()
    {
        this.currentCount = await ClusterClient.GetGrain<IBlobGrain>("counter").ReadAsync();
    }

}