@page "/"
@using Orleans
@using Jarvis.Store.Client.Grains
@inject IGrainFactory GrainFactory;

<h1>Hello, world!</h1>

Welcome to @Constants.ApplicationName
<RadzenButton Click="TenantAClick">Value @_tenantA</RadzenButton>
<RadzenButton Click="TenantBClick">Value @_tenantB</RadzenButton>


@code
{
    string _tenantA = "";
    string _tenantB = "";

    private async Task TenantAClick()
    {
        var grainA = GrainFactory.GetGrain<ISampleGrain>("the_one@A");
        _tenantA = await grainA.ReadAsync();
    }    
    
    private async Task TenantBClick()
    {
        var grainB = GrainFactory.GetGrain<ISampleGrain>("the_one@B");
        _tenantB = await grainB.ReadAsync();
    }
}
